:root {
    --pink: #ff10f0;
    --pinktrans: rgba(255, 16, 240, 0.1);
    --green: #39ff14;
    --orange: #ff5f1f;
    --blue: #1f51ff;
    --bluetrans: rgba(31, 81, 255, 0.1);
    --purple: #bc13fe;
    --grey: #3b3b3b;
}

* {
    box-sizing: border-box;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.inactive {
    display: none;
} 

.logo a img {
    height: 70px;
    line-height: 70px;
    border-style: none;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
}

nav {
    color: #000000;
    top: 0;
}

.nav-large {
    display: flex;
    justify-content: right;
}

.nav-large a {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
    padding: 20px 10px;
    text-decoration: none;
    color: #000000;
    text-align: center; 
}

.nav-large a:hover {
    color: var(--pink);
    transition: 0.5s;
}

#hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

#close-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

.menu-label {
    font-weight: bold;
    color: #000000;
    text-align: right;
}

.menu-content {
    padding: 30px 5px 5px 0;
}

.menu-content ul {
    list-style-type: none;
    text-align: right;
    font-size: 0.75em;
    cursor: pointer;
}

.menu-content li {
    padding: 5px 0px;
}

.menu-content a {
    text-decoration: none;
    color: #000000;
}

.template-header img {
    max-height: 15vh;
    max-width: 50vw;
    display: block;
    margin: 0px auto 40px auto;
}

.template-header-tea img {
    height: 15vh;
    display: block;
    margin: 0px auto 10px auto;
}

.welcome-container, .error-message, .form-submitted, .no-tea {
    font-size: 1.75em;
    text-align: center;
    padding: 0 0 40px 0;
}

.feed-button-header {
    display: flex;
    justify-content: right;
    padding: 0;
}

.feed-button-header p {
    font-size: 0.75em;
    padding: 2px;
}

.feed-buttons-container {
    display: flex;
    justify-content: right;
    padding: 0;
}

.feed-button {
    background-color: var(--pink);
    border-radius: 3px;
    width: 80px;
    padding: 0 2px;
    margin: 5px;
}

.feed-button p {
    padding: 0 2px;
    font-size: 0.75em;
    text-align: center; 
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.feed-button a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

/* Adapted from https://codepen.io/piccalilli/pen/MPLzay */
.confession-container {
    margin: 20px 0;
    border-style: solid;
    border-color: var(--pink);
    padding: 15px 30px;
    display: inline-block;
    border: 3px solid var(--pink);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
    max-width: 800px;
    width: 100%;
    
    &::before {
        content: '';
        border: 2px solid var(--pink);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
        z-index: -1;
    }
}

.confession-container-text {
    text-decoration: none;
    color: #000000;
}

.confession-info-container {
    display: flex;
    align-items: center;
}

.confession-info-container img {
    width: 30px;
}

.confession-info-container p {
    margin: 0px 10px;
}

.confession-container-random {
    margin: 20px 0;
    border-style: solid;
    border-color: var(--blue);
    padding: 15px 30px;
    display: inline-block;
    border: 3px solid var(--blue);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
    max-width: 800px;
    width: 100%;
    
    &::before {
        content: '';
        border: 2px solid var(--blue);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
        z-index: -1;
    }
}

.confession-container-my-tea {
    margin: 20px 0;
    border-style: solid;
    border-color: var(--purple);
    padding: 15px 30px;
    display: inline-block;
    border: 3px solid var(--purple);
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    background: #ffffff;
    position: relative;
    max-width: 800px;
    width: 100%;
    
    &::before {
        content: '';
        border: 2px solid var(--purple);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
        z-index: -1;
    }
}

.timestamp {
    font-size: small;
    color: var(--grey);
    text-align: right;
}

.timestamp-comment {
    font-size: small;
    color: var(--grey);
    margin-left: auto;
}

.individual-comment {
    background-color: var(--pinktrans);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

input.spill-comment {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid var(--pinktrans);
    border-radius: 4px;
}

input.confession-textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 2px solid var(--orange);
    border-radius: 4px;
}

.comment-button {
    background-color: var(--pink);
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 10px 0;
}

.delete-button {
    background-color: var(--pink);
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.delete-button-random {
    background-color: var(--blue);
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.delete-button-my-tea {
    background-color: var(--purple);
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.delete-confirmed {
    text-align: center;
}

.confession-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spill-button {
    background-color: var(--orange);
    color: #FFFFFF;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
}

.enable-comments {
    align-items: center;
    font-size: 0.9em;
    display: flex;
}

.enable-comments label {
    padding: 0 10px;
}

.random-button {
    background-color: var(--blue);
    border-radius: 3px;
    width: 150px;
    margin: 0 auto
}

.random-button p {
    font-size: 1.25em;
    padding: 10px;
    text-align: center; 
}

.random-button a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

.my-tea-button {
    background-color: var(--orange);
    border-radius: 3px;
    width: 200px;
    margin: 0 auto
}

.my-tea-button p {
    font-size: 1.25em;
    padding: 10px;
    text-align: center; 
}

.my-tea-button a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
}

footer {
    font-size: small;
    color: var(--grey);
    line-height: 1.5;
    width: 100%;
    padding: 40px;
}

.foot-contact {
    text-align: center;
}

.foot-contact a {
    text-decoration: underline;
    color: var(--grey);
}

.copy {
    display: flex;
    justify-content: center;
    font-size:x-small;
}

.copy p {
    margin: 0;
}

@media (max-width: 768px) {
    .nav-large {
        display: none;
    }

    .nav-small {
        display: block;
    }

    .welcome-container {
        font-size: 1em;
        text-align: center;
        padding: 0 0 20px 0;
    }
}

@media (min-width: 768px) {

    .nav-small {
        display: none;
    }
   
    .nav-large {
        display: block;
    }
}