<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spill</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Spill the tea and confess your secrets anonymously.">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="/static/images/logo2.png" alt="Spill"></a>
            </div>
            <nav>
                <div class="nav-small">
                    <img src="/static/images/hamburger.png" alt="Hamburger menu" id="hamburger">
                    <img src="/static/images/close.png" alt="X to close" class="inactive" id="close-menu">
                    <div class="menu-content inactive">
                        <p class="menu-label">Menu</p>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/my_tea">My Tea</a></li>
                            <li><a href="/spill">Spill your Tea</a></li>
                            <li><a href="/random">Random Tea</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-large">
                    <a href="/">Home</a>
                    <a href="/my_tea">My Tea</a>
                    <a href="/spill">Spill your Tea</a>
                    <a href="/random">Random Tea</a>
                </div>
            </nav>
        </header>
        <div class="container">
            <main>
            {% block main %}
            {% endblock %}
            </main>
        </div>
        <script src="/static/js/script.js"></script>
        <footer>
            <div class="foot-contact">
                <p>E-mail: <a href="mailto:fake.email@spill.com">fake.email@spill.com</a></p>
            </div>
            <div class="copy">
                <p>&copy; 2024 Spill. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>