{% extends "base.html" %}

{% block main %}

<h1>The tea!</h1>

{% for confession in confessions %}
<div class="confession-container">
    <a href="/spill/{{ confession.id }}">
        <p>"{{ confession.text }}"</p>
    </a>
    <div class="confession-info-container">
        <img src="/static/images/teapot.png" alt="empty teapot icon indicating likes" class="like-button" id="like-{{ confession.id }}">
        <img src="/static/images/teapotliked.png" alt="filled teacon icon indicating user has liked post" class="unlike-button inactive" id="unlike-{{ confession.id }}">
        <p>{{ confession.get_likes_count() }}</p>
        {% if confession.allow_comments %}
            <img src="/static/images/comments.png" alt="speech bubble icon indicating comments">
            <p>{{ confession.comments|length }}</p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}