{% extends "base.html" %}

{% block main %}

<div class="template-header">
    <img src="/static/images/my-tea-header.png" alt="My Tea">
</div>

{% if confessions|length < 1 %}
    <p>No tea here! Spill your own tea here or head to the home feed to comment or like!</p>

{% else %}

    {% for confession in confessions %}
    <div class="confession-container-my-tea">
        <a href="/spill/{{ confession.id }}" class="confession-container-text">
            <p>"{{ confession.text }}"</p>
            <p class="timestamp">{{ confession.format_timestamp() }}</p>
            {% if confession.user_id == session['user_id'] %}
                <form action="{{ url_for('delete_confession', confession_id = confession.id) }}" method="POST" class="delete-form">
                    <button class="delete-button-my-tea" type="submit">Delete</button>
                </form>
            {% endif %}
        </a>
        <div class="confession-info-container">
            {% if session['user_id'] in confession.likes %}
                <img src="/static/images/teapotliked.png" alt="filled teacon icon indicating user has liked post" class="unlike-button" id="unlike-{{ confession.id }}">
                <img src="/static/images/teapot.png" alt="empty teapot icon indicating likes" class="like-button inactive" id="like-{{ confession.id }}">
            {% else %}
                <img src="/static/images/teapotliked.png" alt="filled teacon icon indicating user has liked post" class="unlike-button inactive" id="unlike-{{ confession.id }}">
                <img src="/static/images/teapot.png" alt="empty teapot icon indicating likes" class="like-button" id="like-{{ confession.id }}">
            {% endif %}
            <p id="like_count-{{ confession.id }}">{{ confession.get_likes_count() }}</p>
            {% if confession.allow_comments %}
                <a href="/spill/{{ confession.id }}"><img src="/static/images/comments.png" alt="speech bubble icon indicating comments"></a>
                <p>{{ confession.comments|length }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% endif %}

{% endblock %}