{% extends "base.html" %}

{% block main %}

<div class="template-header">
    <img src="/static/images/spill-header.png" alt="Spill your Tea">
</div>
<p>
    Do you need to get something off your chest? Spill your tea (i.e. type your confession) in the box below
    but make sure to keep it anonymous and don't include details that could identify you or others.
</p>
<p>
    By default, comments are disabled on all confessions, but, if you would like to invite comments and feedback
    on your spilt tea, click the enable comments button before you press the 'Send' button. Once you have submitted your confession,
    you can click 'The Tea!' button to see your confession in the feed on the home page.
</p>
<form id="confession-form" action="{{ url_for('new_confession') }}" method="POST">
  <input id="confession-textarea" class="confession-textarea" name="confession" placeholder="Spill your tea here..." type="text" required autofocus>
  <div class="confession-buttons">
    <div class="enable-comments">
        <input type="checkbox" id="allow_comments" name="allow_comments" value="allow_comments">
        <label for="allow_comments">Enable comments</label>
    </div>
    <div>
        <button class="spill-button"  type="submit">Spill my Tea!</button>
    </div>
  </div>
</form>
<div class="form-submitted inactive">
    <p>You have successfully spilt your tea!</p>
    <br>
    <button type="button" id="tea-button">The Tea!</button>
</div>
<script src="/static/js/confession.js"></script>

{% endblock %}